<div class="footer">
Send your solutions / questions / doubts to,  <u><your email here></u>

<div class="pure-menu pure-menu-horizontal pure-menu-open">
  <ul>
    <li><a href="/">Thank you :) </a></li>
  </ul>
</div>
</div>
</div>
</div>
</div>

</body>
</html>
