<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Web Security is fun.">
    <title>Web App Sec - Challenges</title>
<link rel="stylesheet" href="/css/vendor/pure-min.css">


    <link rel="stylesheet" href="/css/vendor/grids-responsive-min.css">

    <!--Conditional comments can keep calm, We don't support IE lt 8 for this challenge-->
        <link rel="stylesheet" href="/css/layouts/blog.css">
</head>
<body>

<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <hgroup>
              <a href="/" id="headerLink">
                <h1 class="brand-title">Web App Sec Challenges</h1>
                <h2 class="brand-tagline">Penetration testing for the fun of it ! </h2>
              </a>
            </hgroup>

            <nav class="nav">
                <ul class="nav-list">
                  <h3><b> Active </b></h3>
                    <li class="nav-item">
                        <a class="pure-button" href="/challenges/xss1">XSS 1 (Easiest)</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="/challenges/xss2">XSS 2 (Easy)</a>
                    </li>

                  </ul>

                  <h3><b> Upcoming</b> </h3>
                  <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="/challenges/xss3">XSS 3 (Medium)</a>
                    </li>

                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
