<%= include /layouts/header.ejs %>


<div>

    <section class="post">
        <header class="post-header">

            <h2 class="post-title">Home </h2>

        </header>

        <div class="post-description">
            <p>
                Hi Team !
                <div>
                  Welcome ! Edit this ! This is what the participants see first !

                </div>

                <div>
                  Some of the challenges are still a work in progress.
                </div>
            </p>
        </div>
    </section>
</div>

<%= include /layouts/footer.ejs %>
